/* ======BACKDROP====== */


.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  background: rgba(0, 0, 0, 0.2);
  visibility: 3s;
  transform: translate(3);
   transition-duration: 1s;
  transition-timing-function: ease-in-out;
   z-index: 1;
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(3);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop__close-btn {
  height: 30px;
  width: 30px;
  position: relative;
  position: absolute;
  background-color: white;
  border-radius: 50%;
 border: 1px solid rgba(0, 0, 0, 0.1);
 right: 8px;
 top: 8px;
}

.backdrop__form {
 margin-top: 40px;
 align-items: center;
}

.backdrop__header {
font-size: 20px;
font-weight: 700;
line-height: 23px;
color: rgba(33, 33, 33, 1);
text-align: center;
margin-bottom: 30px;
}

.backdrop__fieldset {
display: flex;
margin-block: 28px;
position: relative; 
width: 448px;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
margin-left: 40px;
padding: 0px;
align-items: center;
}

.backdrop__fieldset:has(input:focus) {
outline: 1px solid var(--interactive-elements-color);
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__comment {
display: flex;
width: 448px;
height: 120px;
padding: 0px;
align-items: center;
margin-left: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
}


.backdrop__comment:focus-within  {
outline: 1px solid var(--interactive-elements-color); 
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__textarea {
resize: none;
border: 0;
background-color: transparent;
font-size: 16px;  
width: 448px;
height: 120px;
margin: 0px;
padding: 10px 2px;
}

.backdrop__label {
position: absolute;
top: -18px;
left: 0px;
color: rgba(117, 117, 117, 1);
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
}

.backdrop__label--comment {
  position: absolute;
  top: 279px;
  left: 40px;
  color: rgba(117, 117, 117, 1);
  font-size: 12px;
}

.backdrop__input {
border: 0;
background-color: transparent;
font-size: 16px;  
width: 404px;
}

.backdrop__input:focus {
outline: none;
}

.backdrop__textarea:focus {
outline: none;
}

.backdrop__checkbox {
display: flex;
position: static;
margin-left: 52px;  
margin-right: 54px;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
align-items: center;
margin-top: 20px;
}

.backdrop__checkbox-input {
width: 16px;
height: 15px;
margin-right: 7px;

}

.backdrop__consent-link  {
color: var(--interactive-elements-color);
}

.backdrop__button-box {
text-align: center;
margin-top: 30px;
}

.backdrop__icon {
margin: 14px 15px;
}

.backdrop__fieldset:focus-within {
fill: var(--interactive-elements-color);
border-color:  var(--interactive-elements-color);
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
background-color: white;
}


input.form:has(input:focus) {
fill: var(--interactive-elements-color);
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
} 


.backdrop__checkbox-icon {
width: 16px;
height: 15px;
 position: absolute;
 left: 52px; 
 bottom: 125px;
 fill: white; 
 border: solid 1px #212121;
border-radius: 2px;
}

input:checked + span svg {
fill: white;  
background-color: #2196f3;
border: 0.2px solid #FFFFFF;
transition: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

input.checkbox {
visibility: hidden;
}