/* ====== Contacts - TOP BAR */

.contacts {
display: inline-block;
list-style: none;
margin: 0px;
box-sizing: border-box;
height: 80px;
padding: 0px;
margin-left: 130px;
}

.contacts__list {
display: flex;
list-style: none;
padding: 0px;
margin: 32px;
margin-left: 93px;
}

.contacts__link {
  color:var(--secondary-font-color); 
}

.contacts__list--elements {
display: flex;
align-items: center;  
}

.contacts__list--elements:hover {
--color: var(--interactive-elements-color);
--color4:var(--interactive-elements-color);  
--color5:var(--interactive-elements-color);  
}

.contacts__link--mail{
margin-right: 50px;  
margin-left :10px;
}

.contacts__link--tel {
margin-left: 10px;
margin-right: 0px;
}
