/* _____________Section: Czym się zajmujemy___________________ */
 
.section-services {
background-color: white;
}

.section-services__container {
  max-width: 1200px;
  margin: 0 auto;
 }

.section-services__list {
display: flex;
justify-content: center;
gap: 30px;
height: 294px;
}

.section-services__thumb {
position: relative;
}

.section-services__label {
position: absolute;
color: rgba(255, 255, 255, 1);
background-color: rgba(47, 48, 58, 0.8);
bottom: 0px;
width: 370px;
height: 70px;
margin: 0;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.03em;
text-align: center;
text-transform: uppercase;
padding: 27px 90px;
}
